*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'cafe-bold';
    src: url(../resources/font/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face{
    font-family: 'punk';
    src: url(../resources/font/Punk\ Typewriter.otf);
}
.box-title h1{
    font-family: "punk";
    font-size: 500%;
    font-weight: lighter;
}
p{
    font-family: 'cafe-bold';
}

/*Efecto parallax*/
body { 
    background-image: url(../resources/img/cafe-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
 /*Abstracciones generales que estaba repitiendo*/
section{
    margin-top: 20%;
    text-align: center;
    border-radius: 6px;
}
.container{
    padding-top: 2%;
    background-color: #f3f4f9;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    padding-bottom: 2%;
}

h2{
    background-color: #000;
    color: white;
    padding: 2%;
    font-family: 'cafe-bold';
}

/*Barra navegación*/
.navigation-bar{
    position: fixed;  
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 2%;
}

.navigation-bar li{
    display: inline;
    padding:2%

}
.navigation-bar li:hover{
    background-color: #178695;
}
.navigation-bar a{
    text-decoration: none;
    font-family: 'cafe-bold';
    color: #f3f4f9;
    font-size: 120%;
}
#home .container{
    padding-top: 14%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.box-logo{
    text-align: center;
    margin-left: 30%;
}

.box-logo img{
    width: 60%;
    object-fit: cover;
    border-radius: 6px;
}

.box-title{
    text-align: left;
}

.box-title p{
    margin-top: 5%;
    text-align: justify;
    width: 40%;
}

/*Libros más vendidos*/
#topseller .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.box-libros img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 6px;
}

.box-libros p{
    margin-top: 10%;
    text-align: justify;
}

/* Eventos*/
#eventos{
    background-color: #f3f4f9;
    text-align: center;
    border-radius: 6px;
}

#eventos .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 30%;
}

.box-evento  table{
    border-spacing: 0;
    text-align: center;
    width: 96%;
    border-color: #178695;
    border-radius: 3px;
    margin: 2%;
    height: 130%;

}
.box-evento table th{
    background-color: #000;
    color: #f3f4f9;
    font-family: 'cafe-bold';
}

.box-evento table td{
    font-family: 'cafe-bold';
}

.topleft{
    width: 30%;
    border-top-left-radius: 3px;
}

.topright{
    border-top-right-radius: 3px;
}

.bottomleft{
    border-bottom-left-radius: 3px;
}

.bottomright{
    border-bottom-right-radius: 3px;
}

/*Géneros*/
#generos .container{
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
#generos a{
    text-decoration: none;
    font-family: 'cafe-bold';
}
.box-novela{
    background-color: #DDF0FF;
}
.box a{
    color:#000;
    font-size: 150%;
}
.box{
    padding-top: 80%;
    padding-bottom: 80%;
}
.box:hover{
    background-color: #f3f4f9;
}
.box-fantasia{
    background-color: #c4dafa;
}
.box-ciencia-ficcion{
    background-color: #84b6f4;
}
.box-historica{
    background-color: #4d82bc;
}
.box-informatica{
    background-color: #005187;
}

/*Autores*/

.box-autor-descripcion p{
    text-align: justify;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    column-gap: 4em;
    line-height: 1.5;

}
.box-autor-descripcion h3{
    font-family: 'cafe-bold';
}

.box-autor-descripcion a{
    font-family: 'cafe-bold';
    text-decoration: none;
    color: #178695;
}

.box-autor-descripcion a:hover{
    text-decoration: underline;
}

.box-autor img{
    width: 40%;
    height: 40%;
    object-fit: cover;
}
/*Sección contacto*/

.box-informacion{
    font-family: 'cafe-bold';
    margin-top: 2%;
}

.box-informacion li{
    line-height: 2;
}
.box-informacion a{
    text-decoration: none;
    color: #178695;
}
.box-informacion a:hover{
    text-decoration: underline;
}
.iconos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 20%;
    margin-top: 2%;
    margin-left: 40%;
}
.box-rrss a img {
    height: 3em;
    border-radius: 6px;
}
.box-mapa a img{
    height: 20%;
    width:20%;
}

/*Footer*/
footer{
    padding: 1%;
    text-align: center;
    background-color: #000;
}
footer a{
    color: #f3f4f9;
    font-family: 'cafe-bold';
}



