/*Parámetros generales*/
*{
    margin: 0;
    padding: 0;
}
div{
    border:solid;
    border-color: red;
}
h1{
    border:solid;
    border-color:blue;
}
h2{
    border: solid;
    border-color: green;
}
/*Contenedor principal, eliminar background color*/
.main-container{
    overflow: hidden;
    height: fit-content;
    background-color: aqua;
    height: auto;
    display: grid;
    grid-row: 2;
    grid-column: auto;
}
/*Menú de navegación, eliminar bordes y color*/
.header{
    position: fixed;
    width: 100%;
    top: 1%;
    padding-bottom: 1%;
}
li{
    display: inline;
    border-style: solid;
    border-color: blueviolet;
}
a{
    text-decoration-line: none;
}
/*Contenedor de cuerpo de página, eliminar color*/
.body-container{
    display: grid;
    grid-template-rows: 10% 30% 10% 10% 10%;
    row-gap: 20%;
    background-color: lightsalmon;
}
#topseller{
    overflow: auto;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: repeat(20,1fr);
    grid-area: "row1" "row2";
}
#top-seller h2{
    grid-row: "row1";
}

#generos{
    overflow: auto;
}
#autores{
    overflow: auto;
}

